<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV6N3uoI9QQtOuHs2h8UBygCbR9vJpiIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>164767312122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.first.app</string>
	<key>PROJECT_ID</key>
	<string>rajendra-1075c</string>
	<key>STORAGE_BUCKET</key>
	<string>rajendra-1075c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164767312122:ios:dc8a3c8a35632d866f4143</string>
</dict>
</plist>